@{
    Layout = "_AccountLayout";
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center text-danger" style="min-height: 80vh;">
            <h3 class="display-3 my-5">
                <i class="fa fa-bug-slash"></i>
                <br />
                Erişim engellendi
            </h3>

            <div class="text-center text-muted my-3">
                <div class="lead">
                    Bu sayfaya erişim izniniz yok. Lütfen sistem yöneticisiyle iletişime geçin.
                </div>
                <div class="btn-group my-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Ana Sayfa</a>
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary">Ürünler</a>
                    <a asp-page="/Contact" class="btn btn-outline-secondary">İletişim</a>
                </div>
            </div>
        </div>
    </div>
</div>