@model RegisterDto
@{
    Layout = "_AccountLayout";
}

<div class="container w-75 py-3">
    <div class="p-5 bg-dark text-light rounded shadow">
        <div class="row  ">
            <div class="col-lg-12 mb-5 d-flex  justify-content-between align-items-center">
                <h3 class="text-light">Kullanıcı Kayıt Sayfası</h3>
                <h4>
                    <a data-toggle="tooltip" data-placement="top" title="Ana Sayfaya Git" asp-action="Index"
                        asp-controller="Home">
                        <i class="fa-solid fa-home text-primary"></i>
                    </a>
                </h4>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <div class="col-lg-5 mt-4">
                    <form asp-action="Register" asp-controller="Account">
                        <div class="form-group">
                            <label class="form-label" asp-for="FirstName">Ad:</label>
                            <input asp-for="FirstName" class="w-100 form-control form-control-md  border-0 py-2 mb-2"
                                placeholder="Adınızı giriniz." />
                            <span class="text-danger ms-2" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="LastName">Soyad:</label>
                            <input asp-for="LastName" class="w-100 form-control py-2  border-0  mb-2"
                                placeholder="Soyadınızı giriniz." />
                            <span class="text-danger ms-2" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="UserName">Kullanıcı Adı:</label>
                            <input asp-for="UserName" class="w-100 form-control  border-0 py-2 mb-2"
                                placeholder="Kullanıcı adınızı giriniz." />
                            <span class="text-danger ms-2" asp-validation-for="UserName"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Email">E Posta Adresiniz:</label>
                            <input asp-for="Email" class="w-100 form-control  border-0 py-2 mb-2"
                                placeholder="E Postanızı giriniz." />
                            <span class="text-danger ms-2" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Password">Şifreniz:</label>
                            <div class="w-100 d-flex align-items-center">
                                <input asp-for="Password" type="password" id="password-input"
                                    class="w-100 form-control border-0 py-2 mb-2" placeholder="Şifrenizi giriniz." />
                            </div>
                            <span class="text-danger ms-2" asp-validation-for="Password"></span>
                        </div>


                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button class="w-100 btn form-control border-secondary py-2 bg-white text-primary "
                                type="submit">Kayıt Ol</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0"> Zaten bir hesabım var!
                                <a asp-action="Login" class="link-primary">Giriş Yap</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid rounded shadow " width="400" src="~/img/banner-fruits.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
