@model Product
@{
    ViewData["Title"] =  Model.Name;
    ViewData["Path"] = "Ürün/Ürün Detayı";
}
@section PageHeader
{
    <partial name="~/Views/Partials/_PageHeader.cshtml" />
}

<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="~/img/single-item.jpg" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">@Model.Name</h4>
                        <p class="mb-3">Category: @Model.Name</p>
                        <h5 class="fw-bold mb-3">@Model.UnitPrice.ToString() ₺</h5>
                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                                class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        @await Component.InvokeAsync("CategoryList")
                    </div>
                    <div class="col-lg-12">
                         <h4 class="mb-3">Son Eklenen Ürünler</h4>
                       <div  products="" number="3"></div>
                    </div>
                       
                    <div class="col-lg-12">
                        <partial name="~/Views/Partials/_Banner.cshtml" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>