@section PageHeader
{
    <!-- Hero Start -->
    @await Html.PartialAsync("~/Views/Partials/_Hero.cshtml")
    <!-- Hero End -->


    <!-- Featurs Section Start -->
    @await Html.PartialAsync("~/Views/Partials/_Feature.cshtml")
    <!-- Featurs Section End -->
}


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-6 my-3 text-start">
                    <h1>Organik Ürünlerimiz</h1>
                </div>

            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                @await Component.InvokeAsync("ShowCase")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

