@model AddressDtoForInsertion
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Yeni Adres Ekle</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        <div class="modal-body">
          <div class="row d-flex justify-content-between">
            <div class="form-group mb-3 col-md-6">
              <label asp-for="Title" class="form-label" >Adres Başlığı</label>
              <input asp-for="Title" class="form-control" />
              <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group mb-3 col-md-6">
              <label asp-for="City" class="form-label" >Şehir</label>
              <input asp-for="City" class="form-control" />
              <span class="text-danger" asp-validation-for="City"></span>
            </div>
            <div class="form-group mb-3  col-md-6">
              <label asp-for="District" class="form-label" >Semt</label>
              <input asp-for="District" class="form-control" />
              <span class="text-danger" asp-validation-for="District"></span>
            </div>
            <div class="form-group mb-3  col-md-6">
              <label asp-for="Country"  class="form-label">Ülke</label>
              <input asp-for="Country" class="form-control " type="text" name="Country">
              <span class="text-danger" asp-validation-for="Country"></span>
            </div>
            <div class="form-group mb-3  col-md-4">
              <label asp-for="BuildingNumber" class="form-label" for="">Bina No</label>
              <input asp-for="BuildingNumber" class="form-control" type="text" name="BuildingNumber">
              <span class="text-danger" asp-validation-for="BuildingNumber"></span>
            </div>
            <div class="form-group mb-3 col-md-4 ">
              <label asp-for="HomeNumber"  class="form-label" for="">Daire No</label>
              <input asp-for="HomeNumber" class="form-control" type="text" name="HomeNumber">
              <span class="text-danger" asp-validation-for="HomeNumber"></span>
            </div>
            <div class="form-group mb-3  col-md-4">
              <label asp-for="PostalCode" class="form-label" for="">Posta Kodu</label>
              <input asp-for="PostalCode" class="form-control" type="text" name="PostalCode">
              <span class="text-danger" asp-validation-for="PostalCode"></span>
            </div>
            <div class="form-group mb-3  col-md-12">
              <label  asp-for="Line" class="form-label" for="">Adres </label>
              <textarea asp-for="Line" class="form-control " type="text" name="Line">
              </textarea>
              <span class="text-danger" asp-validation-for="Line"></span>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button asp-action="AddAddress" asp-controller="Address" type="submit" class="btn btn-success">Adresi
            Ekle</button>
        </div>
      </form>
    </div>
  </div>
</div>